.caps-label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #90999F;
}

h2 {
  font-weight: 700 !important
}

.task-list-item {
  opacity: 0.5
}
.task-list-item:hover,
.task-list-item.selected {
  background: #F6F8FA;
  opacity: 1;
}

.badge {
  padding: 6px 12px;
  font-size: 12px;
  margin-right: 16px;
  float: left;
  margin-top: -3px;
  background: #4099FF;
  color: white;
  display: inline-block;
  border-radius: 4px;
}
.badge-overdue {
  background: #EF4D4D;
}
