.caps-label {
  font-size: 10px !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  color: #90999F !important;
}

h2 {
  font-weight: 700 !important
}

.login-form-field label {
  color: white !important;
}
.login-form-field p {
  color: #90999F !important;
}

.pill {
  font-size: 10px;
  font-weight: bold;
  background: #EF4D4D;
  padding: 0 5px;
  color: white;
  border-radius: 4px;
  float: right;
}

#chart-wrapper {
  margin-left: -24px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 8px;
  display: inline-block;
  background: rgba(144,153,159,1);
}
.dot.started { background: #4099FF !important }
.dot.overdue { background: rgba(239,77,77,1) !important }
.dot.completed { background: rgba(71,184,129,1) !important }
.dot.created { background: #FFD040 !important }

.analytics-label {
  display: inline-flex;
  align-items: center;
}

.sidebar-progress {
  margin-top: 24px;
}

@media (min-height: 700px) {
  .sidebar-progress {
    position: absolute;
    bottom: 24px;
  }
}

.progress-bar--progress {
  transition: all 150ms ease-out !important;
}

.new-task-btn:hover {
  background: transparent !important;
  color: white !important;
}

.fullwidth-task-list {
  display: flex !important;
  flex-wrap: wrap !important;
}
.fullwidth-task-list .task-list-item {
  flex: 0 0 33.33% !important;
  opacity: 1 !important;
  align-self: baseline !important;
}

.task-list-item {
  opacity: 0.5 !important
}
.task-list-item > div > div {
  cursor: pointer !important
}
.task-list-item:hover,
.task-list-item.selected {
  background: #F6F8FA !important;
  opacity: 1 !important;
}

.task-card--submenu {
  opacity: 0 !important;
  transform: rotate(-90deg) !important
}
.task-list-item:hover .task-card--submenu { opacity: 1 !important }
.task-list-item:hover .task-card--submenu[disabled] { opacity: 0.5 !important }
.task-card--submenu[disabled]{ background: none !important }

.badge {
  padding: 6px 12px !important;
  font-size: 12px !important;
  margin-right: 16px !important;
  float: left !important;
  background: rgba(64,153,255,1) !important;
  border-radius: 4px !important;
  display: inline-block !important;
}
.badge-overdue {
  background: rgba(239,77,77,1) !important;
}
.badge-completed {
  background: rgba(71,184,129,1) !important
}
.badge-cancelled {
  background: rgba(144,153,159,1) !important
}
.badge-created {
  background: #FFD040 !important
}

.react-datepicker-wrapper { float: right !important }
.due-date-calendar { margin-left: -64px !important }
.react-datepicker__input-container { opacity: 0 !important }
.due-date-calendar .react-datepicker__triangle { margin-left: 62px !important }

.task-name--input {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  width: calc(100% - 88px) !important;
  font-size: 29px !important;
  color: #20252A !important;
  height: 36px !important;
  display: block !important;
  overflow: visible !important;
  letter-spacing: -0.2px !important;
  font-weight: 700 !important;
}
.subtask-name--input {
  border: none !important;
  box-shadow: none !important;
  padding: 0 0 0 8px !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #D0D6DA !important;
}
.task-note--textarea,
.task-desc--textarea {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  resize: none !important;
}
.task-note--textarea {
  min-height: 60px !important;
  border-bottom: 1px solid #D0D6DA !important;
  border-radius: 0 !important
}

.subtask-checkbox button {
  opacity: 0 !important
}
.subtask-checkbox:hover button {
  opacity: 1 !important
}
.subtask-item {
  margin: 8px 0 !important
}

.attachment-pill {
  display: inline-flex !important;
  padding: 8px 4px 6px 12px !important;
  border-radius: 4px !important;
  background: rgba(64,153,255,0.1) !important;
  color: white !important;
}
.attachment-pill * {
  color: #4099FF !important;
  fill: #4099FF !important;
}
.attachment-pill button {
  margin-top: -1px !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.attachment-pill > button:hover * {
  fill: #20252A !important;
}


.open-artifact { transform: rotate(0) translate(-50%,-50%); max-width: 90vw; max-height: 90vh }
.full-rotation { transition: none !important; }
.rotate-1 { transform: rotate(-90deg) translate(37.5%,-50%); transition: all 150ms ease-out; max-width: 66vw; max-height: 66vh }
.rotate-2 { transform: rotate(-180deg) translate(50%,50%); transition: all 150ms ease-out; max-width: 90vw; max-height: 90vh }
.rotate-3 { transform: rotate(-270deg) translate(-37.5%,50%); transition: all 150ms ease-out; max-width: 66vw; max-height: 66vh }
.rotate-4 { transform: rotate(-359.9deg) translate(-50%,-50%); max-width: 90vw; max-height: 90vh; }
